body{
    background-color: rgb(219, 116, 46);
}

h1{
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2{
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p{
    text-align: left;
    color: rgb(13, 10, 194);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}